@{
    ViewBag.Title = "Home Page";
}
@using SaleMonitoring.BL.Enums

<div class="jumbotron">
    <h2>Все продукты</h2>
</div>
<div>
    @using (Ajax.BeginForm("GetProducts", new AjaxOptions {UpdateTargetId = "productBlock"}))
    {
        <div>
            <table class="table">
                <tr>
                    <td>
                        <div class="text-danger">@ViewBag.NotValidParse</div>
                        <div class="editor-label">
                            <label>Введите строку фильтрации</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBox("fieldString")
                        </div>
                        <div id="filter-radio-button">
                            <input name="filter" type="radio" value=@TextFieldFilter.Default checked>
                            <span>Нету</span><br>
                            <input name="filter" type="radio" value=@TextFieldFilter.ProductName>
                            <span>Имя продукта</span><br>
                            <input name="filter" type="radio" value=@TextFieldFilter.Price>
                            <span>Цена</span><br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Поиск" class="btn btn-success"/>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    }
        <div id ="productBlock"></div>
    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        getClients();
    });

    function getClients() {
        jQuery.ajax(
            {
                url: "@Url.Action("GetProducts", "Product")",
                data: { page:@ViewBag.CurrentPage},
                type: "GET",
                success: function (data, textStatus, XHR) {
                    jQuery("#productBlock").html(data);
                },
                dataType: "html"
            }
        );
    }

</script>
